/*.dat
/*.exe
/*.message
/*.print
/*.report
/*.arc
/*.env
/usk_ausgangsmodell_v01.dir/*.c
/usk_ausgangsmodell_v01.dir/*.err
/usk_ausgangsmodell_v01.dir/*.dat
/usk_ausgangsmodell_v01.dir/*.txt
/usk_ausgangsmodell_v01.dir/*.obj
/usk_ausgangsmodell_v01.dir/*.h
/usk_ausgangsmodell_v01.dir/*.lib
/usk_ausgangsmodell_v01.dir/*.exp
/usk_ausgangsmodell_v01.dir/*.exp